<!doctype html>
<html>
  <head>
    <title>Game !</title>
  </head>
  <body>
    <ul id="messages"></ul>
    <label for="token">Token</label>
    <input type="text" id="token" name="token" value="<%= token %>" readonly><br>
    <button class="button" id="initbtn" type="submit">Join</button>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script>
    $(function () {
        var socket;
        $('#initbtn').click(function(e) {
            var token = $('#token').val();
            e.preventDefault(); // prevents page reloading
            socket = io('',{
                query : {
                  token : token
                }
            });
            return false;
        });
  });
  </script>
</html>