<!doctype html>
<html>
  <head>
    <title>Game !</title>
  </head>
  <body>
    <ul id="messages"></ul>
    <label for="token">Token</label>
    <input type="text" id="token" name="token" value="<%= token %>" readonly><br>
    <button type="submit" id="ready-btn" name="ready-btn">Ready</button><br>
    <label for="dice-1">Dadu 1</label>
    <input type="number" id="dice-1" name="dice-1" min="1" max="6"><br>
    <label for="dice-2">Dadu 2</label>
    <input type="number" id="dice-2" name="dice-2" min="1" max="6"><br>
    <button type="submit" id="first-dice-btn" name="first-dice-btn">Draw first dice</button>
    <button type="submit" id="dice-btn" name="dice-btn">Roll dice !</button>
    <button type="submit" id="answer-btn" name="answer-btn">Answer</button>
    <button type="submit" id="no-answer-btn" name="no-answer-btn">Not Answering</button>
    <button type="submit" id="finish-btn" name="finish-btn">Finish</button><br>
    <label for="treasure-answer">Jawaban Treasure</label>
    <input type="text" id="treasure-answer" name="treasure-answer"><br>
    <button type="submit" id="treasure-btn" name="treasure-btn">Treasure!</button>
    <br>
    <label for="target-token">Target token</label>
    <input type="text" id="target-token" name="target-token"><br>
    <label for="equipment-id">Eq id</label>
    <input type="number" id="equipment-id" name="equipment-id"><br>
    <button type="submit" id="equip-btn" name="equip-btn">Use Equipment</button>
    <button type="submit" id="no-equip-btn" name="no-equip-btn">Use No Equipment</button>
    <label for="shield-eq">Shield</label>
    <input type="text" id="shield-eq" name="shield-eq"><br>
    <button type="submit" id="shield-btn" name="shield-btn">Use Shield</button><br>
    <label for="target-token">Change timeout to (ms)</label>
    <input type="text" id="timeout" name="timeout"><br>
    <button type="submit" id="timeout-btn" name="timeout-btn">Change</button><br>

    
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script>
    $(function () {
        var token = $('#token').val();
        var socket = io('',{
          query : {
            token : token
          }
        });
        socket.on("update",function(msg){
          console.log(msg);
        })
        $('#ready-btn').click(function(e){
          e.preventDefault();
          socket.emit("ready");
        });

        $('#reward-btn').click(function(e){
          e.preventDefault();
          socket.emit("draw reward");
        });

        $('#first-dice-btn').click(function(e){
          e.preventDefault();
          var dice_1 = parseInt($("#dice-1").val());
          var dice_2 = parseInt($("#dice-2").val());
          console.log(dice_1);
          console.log(dice_2);
          socket.emit("first roll",{
            dice_1 : dice_1,
            dice_2 : dice_2
          });
        });

        $('#dice-btn').click(function(e){
          e.preventDefault();
          var dice_1 = parseInt($("#dice-1").val());
          var dice_2 = parseInt($("#dice-2").val());
          console.log(dice_1)
          console.log(dice_2);
          socket.emit("roll",{
            dice_1 : dice_1,
            dice_2 : dice_2
          });
        });

        $("#answer-btn").click(function(e){
          e.preventDefault();
          socket.emit("answer",{
            selected : true
          });
        });

        $("#no-answer-btn").click(function(e){
          e.preventDefault();
          socket.emit("answer",{
            selected : false
          })
        })

        $("#finish-btn").click(function(e){
          e.preventDefault();
          socket.emit("finish");
        });

        $("#treasure-btn").click(function(e){
          e.preventDefault();
          socket.emit("treasure answer",{
            answer : $("#treasure-answer").val()
          });
        })
        $("#equip-btn").click(function(e){
          e.preventDefault();
          let target = $("#target-token").val();
          let equipment = parseInt($("#equipment-id").val());
          target = target=="" ? null : target;
          socket.emit("equipment",{
            equipment : parseInt(equipment),
            target_token : target
          });
        });

        $("#no-equip-btn").click(function(e){
          e.preventDefault();
          socket.emit("equipment",{
            equipment : null
          });
        });

        $("#shield-btn").click(function(e){
          e.preventDefault();
          let shield = parseInt($("#shield-eq").val());
          console.log(shield);
          socket.emit("shield",{
            equipment : shield
          });
        });

        $("#timeout-btn").click(function(e){
          e.preventDefault();
          let timeout = parseInt($("#timeout").val());
          console.log(timeout);
          socket.emit("timeout change",{
            timeout : timeout
          })
        })
  });
  </script>
</html>