<!doctype html>
<html>
  <head>
    <title>Lobby</title>
  </head>
  <body>
    <ul id="messages"></ul>
    <form action="/gm" method="POST">
      <label for="username">Username</label>
      <input type="text" id="username" name="username"><br>
      <label for="username">Password</label>
      <input type="text" id="password" name="password"><br>
      <label for="username">Room</label>
      <input type="text" id="room" name="room"><br>
      <button class="button" type="submit">Join</button>
    </form>
  </body>
</html>