<!doctype html>
<html>
  <head>
    <title>Lobby</title>
  </head>
  <body>
    <ul id="messages"></ul>
    <form action="/test" method="POST" id="myForm">
      <label for="username">Username</label>
      <input type="text" id="username" name="username"><br>
      <label for="room">Game Room</label>
      <input type="text" id="room" name="room"><br>
      <input type="radio" id="player" name="role" value="player">
      <label for="player">Player</label>
      <input type="radio" id="spectator" name="role" value="spectator">
      <label for="spectator">Spectator</label><br>
      <button class="button" type="submit" id="submitform">Join</button>
    </form>
  </body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  
  $('#myForm').on('submit', function(event){
    var formData = JSON.stringify($("#myForm").serializeArray());
    $.ajax({
        type: 'POST',
        url: 'http://localhost:3000/test',
        dataType: 'json',
        data: formData,
        contentType : 'application/json',
        success: function(data) {
            alert(data)
        }
    });
  return false;
});
</script>
<script>