<!doctype html>
<html>
  <head>
    <title>Lobby</title>
  </head>
  <body>
    <ul id="messages"></ul>
    <form action="/test" method="POST">
      <label for="username">Username</label>
      <input type="text" id="username" name="username"><br>
      <label for="room">Game Room</label>
      <input type="text" id="room" name="room"><br>
      <input type="radio" id="player" name="role" value="player">
      <label for="player">Player</label>
      <input type="radio" id="spectator" name="role" value="spectator">
      <label for="spectator">Spectator</label><br>
      <button class="button" type="submit">Join</button>
    </form>
  </body>
</html>