<!doctype html>
<html>
  <head>
    <title>Game !</title>
  </head>
  <body>
    <ul id="messages"></ul>
    <label for="token">Token</label>
    <input type="text" id="token" name="token" value="<%= token %>" readonly><br>
    <button type="submit" id="ready-btn" name="ready-btn">Ready</button><br>
    <label for="dice-1">Dadu 1</label>
    <input type="number" id="dice-1" name="dice-1" min="1" max="6"><br>
    <label for="dice-2">Dadu 2</label>
    <input type="number" id="dice-2" name="dice-2" min="1" max="6"><br>
    <button type="submit" id="first-dice-btn" name="first-dice-btn">Draw first dice</button>
    <button type="submit" id="dice-btn" name="dice-btn">Roll dice !</button>
    <button type="submit" id="answer-btn" name="answer-btn">Answer</button>
    <button type="submit" id="no-answer-btn" name="no-answer-btn">Not Answering</button>
    <button type="submit" id="finish-btn" name="finish-btn">Finish</button><br>
    <label for="treasure-answer">Jawaban Treasure</label>
    <input type="text" id="treasure-answer" name="treasure-answer"><br>
    <button type="submit" id="treasure-btn" name="treasure-btn">Treasure!</button>
    <br>
    <br>
    <label for="teleport">Teleport ke kotak</label>
    <input type="number" id="teleport" name="teleport" min="0" max="40"><br>
    <button type="submit" id="teleport-btn" name="teleport-btn">Teleport</button>
    <br><br><br>
    <label for="target-token">Target token</label>
    <input type="text" id="target-token" name="target-token"><br>
    <label for="equipment-id">Eq id</label>
    <input type="number" id="equipment-id" name="equipment-id"><br>
    <button type="submit" id="equip-btn" name="equip-btn">Use Equipment</button>
    
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script>
    $(function () {
        var token = $('#token').val();
        var socket = io('',{
          query : {
            token : token
          }
        });

        socket.on("player join",function(msg){
          console.log(msg);
        });

        socket.on("spectator join",function(msg){
          console.log("Spectator join");
        })

        socket.on("player ready",function(msg){
          console.log(msg.token + " ready");
        });

        socket.on("game ready",function(msg){
          console.log("game ready");
        });

        socket.on("cash change",function(msg){
          console.log(msg);
        });

        socket.on("update",function(msg){
          console.log(msg);
        })


        socket.on("game start",function(msg){
          console.log("Game started");
        });

        $('#ready-btn').click(function(e){
          e.preventDefault();
          socket.emit("ready");
        });

        $('#reward-btn').click(function(e){
          e.preventDefault();
          socket.emit("draw reward");
        });

        $('#first-dice-btn').click(function(e){
          e.preventDefault();
          var dice_1 = parseInt($("#dice-1").val());
          var dice_2 = parseInt($("#dice-2").val());
          console.log(dice_1);
          console.log(dice_2);
          socket.emit("first roll",{
            dice_1 : dice_1,
            dice_2 : dice_2
          });
        });

        $('#dice-btn').click(function(e){
          e.preventDefault();
          var dice_1 = parseInt($("#dice-1").val());
          var dice_2 = parseInt($("#dice-2").val());
          console.log(dice_1)
          console.log(dice_2);
          socket.emit("roll",{
            dice_1 : dice_1,
            dice_2 : dice_2
          });
        });

        $("#answer-btn").click(function(e){
          e.preventDefault();
          socket.emit("answer",{
            selected : true
          });
        });

        $("#no-answer-btn").click(function(e){
          e.preventDefault();
          socket.emit("answer",{
            selected : false
          })
        })

        $("#finish-btn").click(function(e){
          e.preventDefault();
          socket.emit("finish");
        });

        $("#treasure-btn").click(function(e){
          e.preventDefault();
          socket.emit("treasure answer",{
            answer : $("#treasure-answer").val()
          });
        })

        $("#teleport-btn").click(function(e){
          e.preventDefault();
          socket.emit("teleport",{
            to : parseInt($("#teleport").val())
          });
        })

        $("#equip-btn").click(function(e){
          e.preventDefault();
          socket.emit("use equipment",{
            card_id : parseInt($("#equipment-id").val())
          })
        })


  });
  </script>
</html>